<div class="create-link-wrapper pb-2 pb-lg-0">
    <!-- Heading -->
    <div class="heading d-flex justify-content-between">
        <div class="display-6 proxima-bold">
            Create a link
        </div>
        <button type="button" class="btn btn-outline-primary proxima-semi-bold fs-5 py-0" routerLink="/links">
            <i class="fas fa-angle-left pe-2"></i>
            Back to list
        </button>
    </div>

    <hr class="divider mt-3">

    <div class="create-form bg-primary-subtle my-4 rounded-2">
        <div class="p-3 p-lg-5">
            <form [formGroup]="form" >
                <div class="mb-3">
                    <div class="my-2 proxima-bold fs-3"> Destination </div>
                    <div class="input-group">
                        <input class="form-control bg-body-primary" placeholder="https://coolplace.com/your-long-link" formControlName="destination">
                        <div class="input-group-append">
                            <span class="input-group-text apend-span">
                                <i class="fa fa-link"></i>
                            </span>
                        </div>
                    </div>
                    <div class="error-feedback" *ngIf="hasDisplayableError('destination')">
                        <div *ngIf="form.controls.destination.hasError('required')">
                            Please enter the destination url.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="my-2 proxima-bold fs-3"> Title <span class="fs-5">(Optional)</span></div>
                    <div class="input-group">
                        <input 
                            class="form-control bg-body-primary" 
                            placeholder="Add a title"
                            formControlName="title">
                    </div>
                </div>
                
                <div class="mb-3">
                    <div class="my-2 proxima-bold fs-3"> 
                        Tags <span class="fs-5">(Optional)</span>
                        <button type="button" class="btn btn-information text-secondary" placement="top" 
                        ngbTooltip="To add tags, type a tag and press Enter or Tab before saving. You can add multiple tags.">
                            <i class="fas fa-circle-info"></i>
                        </button>
                    </div>
                    <div class="input-group tag-wrapper rounded-3 p-2">
                        <span 
                            *ngFor="let tag of tags.controls; let i = index" 
                            class="tag d-inline-flex bg-body-secondary ps-2 py-1 rounded-2 proxima-bold" >
                            {{ tag.value }}
                            <button 
                                type="button" 
                                class="btn-close ps-2 fs-6 scale-0-7" 
                                (click)="removeTag(i)"></button>
                        </span>
                        <input 
                            class="form-control bg-body-primary tag-input" 
                            placeholder="Type and press Enter/Tab to add tags"
                            (keydown)="addTag($event)"/>
                    </div>
                </div>

                <div class="mt-4 d-flex justify-content-end">
                    <button type="button" class="btn btn-lg btn-light rounded-3 me-4 proxima-bold" routerLink="/links">
                        Cancel
                    </button>
                    <button (click)="onCreate()" class="btn btn-lg btn-success rounded-3 proxima-bold">
                        Create
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>