<div class="links-bg rounded-2">
    <div class="mx-5 mt-4">
        <!-- Heading -->
        <div class="heading d-flex justify-content-between">
            <div class="display-6 proxima-bold">
                Shortify Links
            </div>
            <button class="btn btn-primary proxima-semi-bold fs-6">
                <i class="fas fa-link"></i>
                Create Link
            </button>
        </div>

        <!-- Filter -->
        <div class="filter mt-2">
            <button *ngIf="!isDateFilterApplied" class="btn btn-outline-secondary me-2" (click)="showDatePicker()">
                <i class="fa-regular fa-calendar pe-2"></i>
                Filter by created date
            </button>
            <button *ngIf="isDateFilterApplied" class="btn btn-outline-primary me-2" (click)="showDatePicker()">
                <i class="fa-regular fa-calendar pe-2"></i>
                {{ formatDateForFilter(fromDate) }} - {{ formatDateForFilter(toDate) }}
            </button>
            <app-date-picker *ngIf="isDatePickerVisible" (filterApplied)="onDateFilterApplied($event)" (filterClosed)="hideDatePicker()"></app-date-picker>
            <button class="btn btn-outline-secondary me-2">
                <i class="fas fa-bars-staggered pe-2"></i>
                Add filters
            </button>
            <button *ngIf="isDateFilterApplied" class="clear-button btn btn-outline-light text-primary me-2" (click)="clearAllFilter()">
                Clear all
            </button>
        </div>

        <hr class="divider mt-3">

        <!-- Cards -->
        <div *ngFor="let link of filteredLinks">
            <div class="bg-primary-subtle rounded-2 my-4 link-card">
                <div class="d-flex px-2 py-3 align-items-center">
                    <div class="col-1 url-icon"></div>
                    <div class="col url-details">
                        <div class="title proxima-bold fs-4">
                            {{ link.title || (getDomain(link.originalUrl) + ' | untitled') }}
                        </div>
                        <div class="short-url text-primary proxima-bold fs-6">
                            <a href="{{ link.shortUrl }}" target="_blank">
                                {{ link.shortUrl }}
                            </a>
                        </div>
                        <div class="original-url proxima-bold fs-6 text-truncate">
                            <a href="{{ link.originalUrl }}" target="_blank">
                                {{ link.originalUrl }}
                            </a>
                        </div>
                        <div class="url-extra-details mt-4">
                            <div class="d-flex align-items-center">
                                <div class="btn btn-light me-4 py-1">
                                    <i class="fa fa-chart-simple pe-2"></i>
                                    Analytics
                                </div>
                                <div class="me-4">
                                    <i class="fa-regular fa-calendar pe-2"></i>
                                    {{ formatDateForCard(link.createdOnUtc) }}
                                </div>
                                <div>
                                    <i class="fa fa-tag pe-2"></i>
                                    {{ link.tags?.join(', ') || 'No Tags' }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 d-flex justify-content-end">
                        <button class="me-1 btn btn-light" [disabled]="link.isCopiedFromCard" (click)="copyToClipboard(link, 'card')">
                            <i class="fa-regular fa-copy pe-1"></i>
                            {{ link.isCopiedFromCard ? 'Copied' : 'Copy' }}
                        </button>
                        <button class="me-1 btn btn-outline-dark" type="button"  data-bs-toggle="modal"
                            data-bs-target="#shareModal" (click)="selectLink(link)">
                            <i class="fa fa-share pe-1"></i>
                            Share
                        </button>
                        <button class="me-1 btn btn-outline-dark">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <div class="me-1 dropdown">
                            <button class="btn btn-outline-dark dropdown-toogle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-ellipsis-vertical"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" type="button" data-bs-toggle="modal" 
                                    data-bs-target="#deleteModal" (click)="selectLink(link)">
                                        <i class="fas fa-trash-can pe-2"></i>
                                        Delete
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item">
                                        <i class="fa fa-link pe-2"></i>
                                        View Link Details
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Share Modal -->
<div class="modal fade" id="shareModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="shareModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="proxima-bold fs-4">Share your Shortify Link</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="deSelectLink()"></button>
            </div>
            <div class="modal-body">
                <!-- Carousel Container -->
                <div id="shareCarousel" class="carousel slide align-items-center" data-bs-interval="false">
                    <div class="carousel-inner px-5">
                        <!-- First Slide -->
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-around">
                                <div class="share-icon btn btn-outline-dark p-2">
                                    <i class="fa-brands fa-whatsapp fs-2"></i>
                                    <p class="m-0">WhatsApp</p>
                                </div>
                                <div class="share-icon btn btn-outline-dark p-2">
                                    <i class="fa-brands fa-facebook fs-2"></i>
                                    <p class="m-0">Facebook</p>
                                </div>
                                <div class="share-icon btn btn-outline-dark p-2">
                                    <i class="fa-brands fa-instagram fs-2"></i>
                                    <p class="m-0">Instagram</p>
                                </div>
                                <div class="share-icon btn btn-outline-dark p-2">
                                    <i class="fa-brands fa-x-twitter fs-2"></i>
                                    <p class="m-0">X</p>
                                </div>
                            </div>
                        </div>
                        <!-- Second Slide -->
                        <div class="carousel-item">
                            <div class="d-flex justify-content-around">
                                <div class="share-icon btn btn-outline-dark p-2">
                                    <i class="fa-brands fa-threads fs-2"></i>
                                    <p class="m-0">Threads</p>
                                </div>
                                <div class="share-icon btn btn-outline-dark p-2">
                                    <i class="fa-solid fa-envelope fs-2"></i>
                                    <p class="m-0">Email</p>
                                </div>
                                <div class="share-icon btn btn-outline-dark p-2">
                                    <i class="fa-brands fa-linkedin-in fs-2"></i>
                                    <p class="m-0">LinkedIn</p>
                                </div>
                                <div class="share-icon btn btn-outline-dark p-2">
                                    <i class="fa-brands fa-telegram fs-2"></i>
                                    <p class="m-0">Telegram</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Carousel Controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#shareCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark-subtle rounded-circle" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#shareCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon bg-dark-subtle rounded-circle" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer-link-box rounded-2 p-2 w-100">
                    <div class="proxima-bold ps-2 fs-5">
                        {{ selectedLink?.shortUrl }}
                    </div>
                    <button type="button" class="btn btn-primary" [disabled]="selectedLink?.isCopiedFromShareModal" (click)="copyToClipboard(selectedLink, 'modal')">
                        {{ selectedLink?.isCopiedFromShareModal ? 'Copied' : 'Copy' }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h1 class="proxima-bold fs-4">Delete Link ?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="deSelectLink()"></button>
            </div>
            <div class="modal-body proxima-semi-bold fs-5">
                Deleting this link will redirect it to the 
                <a target="_blank" href="{{ contentGoneUrl }}">
                    Shortify Content Deactivated error page</a>.
                <br><br>
                This cannot be undone.
            </div>
            <div class="modal-footer justify-content-end fs-6">
                <button class="btn btn-light btn-lg" data-bs-dismiss="modal" (click)="deSelectLink()">Cancel</button>
                <button class="btn btn-danger btn-lg" (click)="deleteLink(selectedLink)">Delete Link</button>
            </div>
        </div>
    </div>
</div>