<div class="modal fade show" data-bs-backdrop="static" id="dateFilterModal" aria-modal="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-3">
            <div class="modal-header">
                <h1 class="proxima-bold fs-4">Filter by created date</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="closeFilter()"></button>
            </div>
            <div class="modal-body proxima-semi-bold fs-5">
                <div class="dwm-filter">
                    <div class="dwm-text pb-2">
                        Filter by the last:
                    </div>
                    <div class="dwm-buttons pt-1 pb-3">
                        <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                            <input type="radio" class="btn-check" name="btnradio" id="day" autocomplete="off" [checked]="isDWMChecked('day')">
                            <label class="btn btn-outline-primary rounded-start-pill" for="day" (click)="onDWMClick('day')">Day</label>

                            <input type="radio" class="btn-check" name="btnradio" id="week" autocomplete="off" [checked]="isDWMChecked('week')">
                            <label class="btn btn-outline-primary" for="week" (click)="onDWMClick('week')">Week</label>

                            <input type="radio" class="btn-check" name="btnradio" id="month" autocomplete="off" [checked]="isDWMChecked('month')">
                            <label class="btn btn-outline-primary rounded-end-pill" for="month" (click)="onDWMClick('month')">Month</label>
                        </div>
                    </div>
                </div>
                <div class="cdr-filter">
                    <div class="cdr-text pb-2">
                        Or by custom date range:
                    </div>
                    <div class="cdr-input pb-3">
                        <div class="dp-hidden position-absolute">
                            <div class="input-group">
                                <input name="dp" class="form-control" ngbDatepicker #dp="ngbDatepicker"
                                    [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                    [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" 
                                    [placement]="'bottom'" [positionTarget]="to" [maxDate]="maxDate"/>
                            </div>
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    [class.disabled]="isDateDisabled(date)" (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                        <div class="row align-items-center">
                            <div class="col input-group">
                                <input #dpFromDate class="form-control" placeholder="yyyy-mm-dd" name="dpFromDate"
                                    [value]="formatter.format(fromDate)"
                                    (input)="fromDate = validateInput(fromDate, dpFromDate.value)" />
                                <button class="btn btn-outline-secondary fa-regular fa-calendar" (click)="dp.toggle()"
                                    type="button"></button>
                            </div>
                            <div #to class="col-1">
                                to
                            </div>
                            <div class="col input-group">
                                <input #dpToDate class="form-control" placeholder="yyyy-mm-dd" name="dpToDate"
                                    [value]="formatter.format(toDate)"
                                    (input)="toDate = validateInput(toDate, dpToDate.value)" />
                                <button class="btn btn-outline-secondary fa-regular fa-calendar" (click)="dp.toggle()"
                                    type="button"></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-end fs-6">
                <button class="btn btn-light btn-lg align-items-center" (click)="clearFilter()">Clear Filter</button>
                <button class="btn btn-primary btn-lg" (click)="applyFilter()">Apply</button>
            </div>
        </div>
    </div>
</div>