<div class="mb-4">
    <div class="h2 text-success">
        Reset Password
    </div>
    <span class="text-secondary">
        Don't want to reset password? 
        <a routerLink="/sign-in" class="signin-link text-success">
            Sign In
        </a>
    </span>
</div>

<form [formGroup]="form">

    <!-- Step 1 - Get Email and Send OTP  -->
     <!-- Email Input -->
     <div class="mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text prepend-span">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </span>
            </div>
            <input class="form-control bg-body-secondary" placeholder="Email" formControlName="email">
        </div>
        <div class="error-feedback" *ngIf="hasDisplayableError('email')">
            <div *ngIf="form.controls.email.hasError('required')">
                Please enter your email address.
            </div>
            <div *ngIf="form.controls.email.hasError('email')">
                Please enter a valid email address.
            </div>
        </div>
    </div>

    <!-- Send OTP Button -->
    <div class="mt-4" *ngIf="!isOtpSent && !isOtpVerified">
        <button (click)="sendOtp()" class="btn btn-secondary rounded-3 w-100">
            Send OTP
        </button>
    </div>

    <!-- Step 2 - Get OTP and Verify  -->
    <div *ngIf="isOtpSent && !isOtpVerified">
        <!-- OTP Input -->
        <div class="mb-3" >
            <input class="form-control bg-body-secondary" placeholder="OTP" formControlName="otp">
            <div class="error-feedback" *ngIf="hasDisplayableError('otp')">
                <div *ngIf="form.controls.otp.hasError('required')">
                    Please enter the OTP sent to your email address.
                </div>
            </div>
        </div>
    
        <!-- Verify OTP Button -->
        <div class="mt-4">
            <button (click)="verifyOtp()" class="btn btn-secondary rounded-3 w-100">
                Verify
            </button>
        </div>

        <!-- Timer for Resend OTP -->
        <div class="otp-timer text-center text-info" *ngIf="resendTimer > 0">
            Resend available in {{ resendTimer }} seconds
        </div>
        <div class="mt-2">
            <button *ngIf="resendTimer <= 0" (click)="reSendOtp()" 
            class="btn btn-secondary rounded-3 w-100">
                Resend OTP
            </button>
        </div>
    </div>

    <!-- Step 3 - Input Fields after OTP Verified -->
    <div *ngIf="isOtpVerified">
        <!-- Password -->
        <div class="mb-3">
            <div class="input-group">
                <input [type]="fieldTextType ? 'text' : 'password'" class="form-control bg-body-secondary"
                    placeholder="Enter New Password" formControlName="password">
                <div class="input-group-append">
                    <span class="input-group-text apend-span">
                        <i class="fa" [ngClass]="{
                                      'fa-eye-slash': !fieldTextType,
                                      'fa-eye': fieldTextType
                                    }" (click)="toggleFieldTextType()"></i>
                    </span>
                </div>
            </div>
            <div class="error-feedback" *ngIf="hasDisplayableError('password')">
                <ng-container [ngSwitch]="form.controls.password.errors | firstKey" ]>
                    <div *ngSwitchCase="'required'">
                        Please enter a password.
                    </div>
                    <div *ngSwitchCase="'minlength'">
                        Atleast 8 characters needed.
                    </div>
                    <div *ngSwitchCase="'maxlength'">
                        Maximum 30 characters.
                    </div>
                    <div *ngSwitchCase="'pattern'">
                        Must have one or more special character(s).
                    </div>
                </ng-container>
            </div>
        </div>

        <!-- Confirm Password -->
        <div class="mb-3">
            <div class="input-group">
                <input [type]="repeatFieldTextType ? 'text' : 'password'" class="form-control bg-body-secondary" placeholder="Confirm Password" formControlName="confirmPassword">
                <div class="input-group-append">
                    <span class="input-group-text apend-span">
                        <i class="fa" [ngClass]="{
                                      'fa-eye-slash': !repeatFieldTextType,
                                      'fa-eye': repeatFieldTextType
                                    }" (click)="toggleRepeatFieldTextType()"></i>
                    </span>
                </div>
            </div>
            <div class="error-feedback" 
                *ngIf="hasDisplayableError('confirmPassword') && form.controls.confirmPassword.hasError('passwordMismatch')">
              Passwords doesn't match.
            </div>
        </div>

        <!-- Submit Button -->
        <div class="mt-4">
            <button type="submit" (click)="resetPassword()" class="btn btn-success rounded-3 w-100">
                Reset Password
            </button>
        </div>
    </div>
</form>