@import '../../styles.scss';

.navbar {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo-container {
    .logo {
        cursor: pointer;
        height: 7vh;
    }
    
    img {
        content: url($logo);
    }
}

.clear-button {
    border: none;
}