@import '../../styles.scss';

.logo-container {
    .logo {
        cursor: pointer;
    }
    
    img {
        content: url($logo);
        max-height: 5vh;
    }
}


.signin-link {
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}