<nav class="navbar fixed-top navbar-expand-lg bg-success">
    <div class="container-fluid">
        <a class="navbar-brand px-lg-4 logo-container">
            <img class="logo d-block" alt="Shortify.NET Logo" (click)="navigateToLanding()">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtons" 
        aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarButtons">
            <div class="d-flex flex-lg-row flex-column align-items-lg-center align-items-stretch">
                <button class="btn btn-outline-light proxima-bold fs-5 mt-5 mb-2 my-lg-0 me-lg-3" (click)="navigateToSignIn()">
                    Sign In
                </button>
                <button class="btn btn-light proxima-bold fs-5 text-success my-2 my-lg-0 me-lg-3" (click)="navigateToSignUp()">
                    Free Sign Up
                </button>
            </div>
        </div>
    </div>
</nav>