<nav id="sidebar" class="navbar bg-body-tertiary vh-100 d-none d-lg-flex d-md-flex flex-column justify-content-start pt-0 position-fixed">
    <div class="container-fluid justify-content-center p-1">
        <a routerLink= "" class="navbar-brand h1 fw-bold text-success mb-3">
             <img 
                src="Shortify-Full-Logo-Horizontal-Black-Transparent.png" 
                alt="Shortify.NET Logo"
                class="w-100 p-2 scale-1-1">
        </a>
    </div>
    <ul class="nav nav-pills flex-column w-100 px-3">
        <li><hr class="divider mt-0"></li>
        <button class="btn btn-primary mb-3 proxima-semi-bold fs-5" routerLink="/links/create">
            Create New
        </button>
        <li><hr class="divider mt-0"></li>
        <li class="nav-item">
            <a routerLink="/dashboard" routerLinkActive="active" id="dashboard" class="nav-link fs-5">
                <i class="fas fa-home px-2" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/links" routerLinkActive="active" id="links" class="nav-link fs-5">
                <i class="fas fa-link px-2" aria-hidden="true"></i>
                Links
            </a>
        </li>
        <li class="nav-item">
            <a routerLink="/settings" routerLinkActive="active" id="settings" class="nav-link fs-5">
                <i class="fas fa-gear px-2" aria-hidden="true"></i>
                Settings
            </a>
        </li>
    </ul>
</nav>

<div class="main d-none d-lg-block d-md-block">
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid px-5 py-1 justify-content-end">
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
            <div class="dropdown">
                <button 
                    class="btn dropdown-toggle d-flex justify-content-center align-items-center"
                    id="dropdown-btn"
                    type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <button class="btn btn-secondary rounded-circle">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </button>
                    <div class="text-success text-center px-2 fs-5 fw-semibold">
                        {{userDetails?.userName}}
                    </div>
                </button>
                <ul class="dropdown-menu" id="dropdown-list" data-popper-placement="bottom-start">
                    <div class="px-2 mb-2">
                        <span class="fs-5 fw-semibold text-success">{{userDetails?.userName}}</span>
                        <br>
                        <span class="fs-6">{{userDetails?.email}}</span>
                    </div>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" routerLink="/about">About Us</a></li>
                    <li><a class="dropdown-item" routerLink="/resources">Resources</a></li>
                    <li><a class="dropdown-item" routerLink="/tandc">Terms & Conditions</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <div class="m-3 d-flex justify-content-center">
                        <button class="btn btn-dark" (click)="onLogout()">Sign Out</button>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <div class="mt-5 p-5">
        <router-outlet />
    </div>
</div>

<nav class="navbar bg-body-tertiary d-block d-md-none d-lg-none shadow">
    <div class="container p-2">
        <a routerLink="" class="navbar-brand logo-container">
            <img class="logo d-block scale-1-1 ps-2" alt="Shortify.NET Logo" src="Shortify-Full-Logo-Horizontal-Black-Transparent.png">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarButtons" 
        aria-controls="navbarButtons" aria-expanded="false" aria-label="Toggle Navigation" (click)="openOffcanvas()">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>

<!-- <div class="container p-3 d-block d-md-none d-lg-none" id="navbar-sm">
    <div class="row text-center gap-3 nav">
        <div class="col nav-item rounded-pill proxima-bold">
            <a class="nav-link active" href=""></a>
            Home
        </div>
        <div class="col nav-item rounded-pill proxima-bold">
            <a class="nav-link" href=""></a>
            Links
        </div>
        <div class="col nav-item rounded-pill proxima-bold">
            <a class="nav-link" href=""></a>
            Settings
        </div>
    </div>
</div> -->