<div *ngIf="!isWithUrl" class="card mb-3 mb-lg-4">
  <div class="card-body text-center">
    <span class="fs-2 proxima-bold mb-0">
      Hi,
      <span class="text-success">{{userProfile?.userName}}</span>.
      Welcome Aboard!
    </span>
  </div>
</div>

<!-- <div class="card mb-5">
  <div class="card-body d-flex justify-content-center align-items-center">
    <span class="fs-3 proxima-semi-bold mb-0 px-2">
      Start your journey with Shortify.Net
    </span>
    <a routerLink="" class="btn btn-outline-primary fw-semibold fs-5 mx-3">
      <i class="fa fa-link pe-2" aria-hidden="true"></i>
      Create a Link
    </a>
    <a routerLink="" class="btn btn-outline-primary fw-semibold fs-5">
      <i class="fa fa-link pe-2" aria-hidden="true"></i>
      View your Links
    </a>
  </div>
</div> -->

<div *ngIf="!isWithUrl" class="card-group tag-cards text-center">
  <div class="card rounded-lg-end-0">
    <img src="scissors-solid.png" class="card-img-top scale-0-7" alt="...">
    <div class="card-body">
      <h5 class="card-title text-success proxima-bold fs-3">Shorten</h5>
      <p class="card-text proxima-semi-bold fs-6">Turn long links into concise, shareable URLs.</p>
    </div>
    <div class="btn btn-success proxima-semi-bold fs-4 p-1 rounded-end-0 rounded-top-0" routerLink="/links/create">
      <i class="fa fa-link pe-2" aria-hidden="true"></i>
      Create Link
    </div>
  </div>
  <div class="card roundedlg--0">
    <img src="wand-magic-sparkles-solid.png" class="card-img-top scale-0-7" alt="...">
    <div class="card-body">
      <h5 class="card-title text-success proxima-bold fs-3">Simplify</h5>
      <p class="card-text proxima-semi-bold fs-6">Easily organize and manage your links.</p>
    </div>
    <div class="btn btn-success proxima-semi-bold fs-4 p-1 rounded-0" routerLink="/links">
      <i class="fa fa-pen-to-square pe-2" aria-hidden="true"></i>
      Edit Link
    </div>
  </div>
  <div class="card rounded-lg-start-0">
    <img src="share-nodes-solid.png" class="card-img-top scale-0-7" alt="...">
    <div class="card-body">
      <h5 class="card-title text-success proxima-bold fs-3">Share</h5>
      <p class="card-text proxima-semi-bold fs-6">Seamlessly distribute links across platforms.</p>
    </div>
    <div class="btn btn-success proxima-semi-bold fs-4 p-1 rounded-start-0 rounded-top-0" routerLink="/links">
      <i class="fa fa-share pe-2" aria-hidden="true"></i>
      Share Link
    </div>
  </div>
</div>